.card {
    font-family: arial;
    font-size: 1rem;
    background-color: transparent;
}

.card-container {
    padding: 6px;
    padding-left: 16px;
    padding-top: 2px;
    border-radius: 10px;
    border: 1px solid;
    max-width: 900px;
    margin: auto;
    text-align: center;
    min-height: 160px;
}

.translate .card-color {
    background-color: rgba(255, 210, 200, 0.5);
    border-color: rgb(25, 22, 23);
}

.nightMode .translate .card-color {
    background-color: rgb(80, 50, 50);
    border-color: rgb(120, 60, 60);
}

.characters .card-color {
    background-color: rgb(195, 220, 255);
    border-color: rgb(15, 12, 190);
}

.description-container {
    text-align: left;
}

.description {
    font-size: 0.7rem;
    letter-spacing: 2px;
    padding: 3px;
    border-radius: 8px;
}

.translate .description {
    background-color: rgba(255, 210, 200);
}

.nightMode .translate .description {
    background-color: rgba(40, 10, 10);
}

.characters .description {
    background-color: rgb(180, 205, 255);
}

.nightMode .characters .description {
    background-color: rgba(10, 10, 40);
}

.nightMode .characters .card-color {
    background-color: rgb(60, 60, 90);
    border-color: rgb(100, 100, 205);
}

.translate .character-container {
    margin-top: 8px;
    font-size: 2.6rem;
}

.characters .character-container {
    font-size: 2.0rem;
}

.translate .pinyin-container {
    font-size: 1rem;
    margin-top: 6px;
}

.characters .pinyin-container {
    margin-top: 20px;

}

.translate .translation-container {
    font-size: 1.2rem;
    margin-top: 8px;
}

.characters .translation-container {
    font-size: 1.3rem;
    margin-top: 14px;
}

.syllables-container {
    margin: 10px;
    font-size: 0.8rem;
    font-style: italic;
}

.image-container {
    margin-top: 14px;
    margin-right: 4px;
    text-align: right;
}

.pinyin {
    margin: 80px;
    padding: 8px;
}

.pinyin:hover {
    font-weight: bold;
}

.head-split {
    background-color: rgb(255, 210, 210);
}

img {
    max-height: 250px;
    max-width: 400px;
    border-radius: 6px;
}

.examples-container {
    margin-top: 22px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.highlighted-character {
    font-weight: bold;
}

.info-container {
    border-radius: 8px;
    background-color: rgba(255, 255, 230, 0.9);
    padding: 14px;
    font-size: 16px;
    max-width: 440px;
    overflow: hidden;
    margin: 14px auto;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.nightMode .info-container {
    background-color: rgba(255, 255, 230, 0.2);
}

ul {
    display: inline-block;
    padding-left: 1rem;
    text-align: left;
}

li {
    position: relative;
}

.hide-bullet-point {
    list-style-type: none;
}
