<div class="translate">
    <div class="card-container card-color">
        <div id="error"></div>
        <div class="description-container">
            <span class="description">Translate</span>
        </div>
        <div class="character-container">{{text:汉字}} <span id="countwords"
                                                             class="countwords-container">({{量词}})</span></div>
        <hr class="head-split">
        <ul class="examples-container" id="examples"></ul>
    </div>
</div>
