<div class="translate">
    <div class="card-container card-color">
        <div id="error"></div>
        <div class="description-container">
            <span class="description">Translate</span>
        </div>
        <div class="character-container">{{text:汉字}} <span id="countwords"
                                                             class="countwords-container">({{量词}})</span></div>
        <div class="pinyin-container">
            <span id="pinyin">{{text:拼音}}</span>
        </div>
        <div class="translation-container" id="translations">{{定义}}</div>
        <div id="info" class="info-container">
            <div style="margin-right: 10px">💡</div>
            <div>{{额外消息}}</div>
        </div>
        <hr class="head-split">
        <ul class="examples-container" id="examples"></ul>
        <div class="image-container">{{图片}}</div>
    </div>
</div>
