<div class="characters">
    <div class="card-container card-color">
        <div id="error"></div>
        <div class="description-container">
            <span class="description">Characters</span>
        </div>
        <div class="translation-container" id="translations"></div>
        <div class="syllables-container" id="numCharacters">{{定义}}</div>
        <div class="pinyin-container" onClick="showPinyin()">
            <span id="pinyin" class="pinyin">Pinyin</span>
        </div>
        <ul class="examples-container" id="examples"></ul>
        <div class="image-container">{{图片}}</div>
    </div>
</div>
<script>
    function showPinyin() {
        document.getElementById("pinyin").innerHTML = "{{拼音}}";
    }
</script>
