<div class="my-card blue-theme">
    <div id="error"></div>
    <div class="text-left">
        <span class="banner">Writing</span>
    </div>
    <div id="translations" class="font-lg mt-3"></div>
    <div>
        <span class="font-3xl">{{汉字}}</span>
        <span id="countwords" class="font-md">({{量词}})</span>
    </div>
    <div class="mt-4">
        {{拼音}}
    </div>
    <div id="info" class="info-container">
        <div class="mr-2">💡</div>
        <div>{{额外消息}}</div>
    </div>
    <div class="mt-4 mb-3 font-lg">
        <ul id="examples"></ul>
    </div>
    <div class="image-container">{{图片}}</div>
</div>
