<div class="my-card blue-theme">
    <div id="error"></div>
    <div class="text-left">
        <span class="banner">Writing</span>
    </div>
    <div id="translations" class="font-lg mt-3"></div>
    <div id="numCharacters" class="m-3 font-s font-italic">{{定义}}</div>
    <div class="mt-4" onClick="showPinyin()">
        <span id="pinyin" class="button">Pinyin</span>
    </div>
    <div class="mt-4 mb-3 font-lg">
        <ul id="examples"></ul>
    </div>
    <div class="image-container">{{图片}}</div>
</div>
