.nightMode {
  color: white
}

.red-theme {
  background-color: rgb(255, 233, 228);
  border-color: rgb(91, 63, 59);

  hr {
    border-color: rgb(255, 210, 210);
  }
}

.nightMode {
  .red-theme {
    background-color: rgb(80, 50, 50);
    border-color: rgb(120, 60, 60);

    hr {
      border-color: rgb(255, 210, 210);
    }
  }
}

.blue-theme {
  background-color: rgb(195, 220, 255);
  border-color: rgb(10, 10, 120);

  hr {
    border-color: rgb(10, 10, 120);
  }
}

.nightMode {
  .blue-theme {
    background-color: rgb(60, 60, 90);
    border-color: rgb(110, 110, 215);
  }

  hr {
    border-color: rgb(110, 110, 215);
  }
}

.green-theme {
  background-color: rgb(238, 250, 238);
  border-color: rgb(90, 180, 90);
}

.nightMode {
  .green-theme {
    background-color: rgb(60, 90, 60);
    border-color: rgb(50, 150, 50);
  }
}
