.card { //pre-defined (invisible) Anki class we need to disable
  padding: 0;
  margin: 0;
}

.my-card {
  margin: 0.5rem auto;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  border: 2px solid;
  max-width: 900px;
  text-align: center;
  font-family: Arial, serif;
}

.version {
  text-align: right;
  font-size: 0.6rem;
  opacity: 0.7;
  margin-top: 0.5rem;
}

.banner {
  font-size: 0.6rem;
  letter-spacing: 0.7px;
  opacity: 0.7;
}