.button {
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.info-container {
  background-color: rgba(0, 0, 0, 0.08);
}

.nightMode {
  color: white;

  .button {
    border: 1px solid rgb(255, 255, 255, 0.2);
  }

  .info-container {
    background-color: rgba(255, 255, 230, 0.07);
  }
}

.red-theme {
  background-color: rgb(255, 233, 228);
  border-color: rgb(91, 63, 59);

  hr {
    border-color: rgb(255, 210, 210, 0.3);
  }
}

.nightMode {
  .red-theme {
    background-color: rgb(80, 50, 50);
    border-color: rgb(120, 60, 60);

    hr {
      border-color: rgb(255, 210, 210, 0.3);
    }
  }
}

.blue-theme {
  background-color: rgb(195, 220, 255);
  border-color: rgb(10, 10, 120);

  hr {
    border-color: rgb(10, 10, 120, 0.3);
  }
}

.nightMode {
  .blue-theme {
    background-color: rgb(60, 60, 90);
    border-color: rgb(110, 110, 215);
  }

  hr {
    border-color: rgb(110, 110, 215, 0.3);
  }
}

.green-theme {
  background-color: rgb(238, 250, 238);
  border-color: rgb(90, 180, 90);
}

.nightMode {
  .green-theme {
    background-color: rgb(60, 90, 60);
    border-color: rgb(50, 150, 50);
  }

  hr {
    border-color: rgb(50, 150, 50, 0.5);
  }
}
