.red-theme {
  background-color: rgb(255, 233, 228);
  border-color: rgb(91, 63, 59);

  .description {
    background-color: rgba(255, 210, 200);
  }

  hr {
    background-color: rgb(255, 210, 210);
  }
}

.nightMode {
  .red-theme {
    background-color: rgb(80, 50, 50);
    border-color: rgb(120, 60, 60);

    .description {
      background-color: rgba(40, 10, 10);
    }

    hr {
      background-color: rgb(255, 210, 210);
    }
  }
}

.blue-theme {
  background-color: rgb(195, 220, 255);
  border-color: rgb(15, 12, 190);

  .description {
    background-color: rgb(180, 205, 255);
  }
}

.nightMode {
  .blue-theme {
    background-color: rgb(60, 60, 90);
    border-color: rgb(100, 100, 205);

    .description {
      background-color: rgba(10, 10, 40);
    }
  }
}
