@import 'card';
@import 'text';
@import 'spacing';
@import 'themes';

.button {
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.button:hover {
  font-weight: bold;
}

.description {
  font-size: 0.7rem;
  letter-spacing: 2px;
  padding: 3px;
  border-radius: 8px;
}

.image-container {
  margin-top: 14px;
  margin-right: 4px;
  text-align: right;
}

img {
  max-height: 250px;
  max-width: min(450px, 100%);
  border-radius: 6px;
}

.info-container {
  border-radius: 8px;
  background-color: rgba(255, 255, 230, 0.7);
  padding: 14px;
  font-size: 16px;
  max-width: 440px;
  overflow: hidden;
  margin: 14px auto;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.nightMode .info-container {
  background-color: rgba(255, 255, 230, 0.2);
}

ul {
  display: inline-block;
  padding-left: 1rem;
  text-align: left;
}

li {
  position: relative;
}

.hide-bullet-point {
  list-style-type: none;
}
