@import '../../../style/card';
@import '../../../style/text';
@import '../../../style/spacing';
@import '../../../style/themes';

.button {
  border-radius: 0.3rem;
  padding: 0.3rem 0.7rem;
}

.button:hover {
  font-weight: bold;
}

.image-container {
  margin-top: 14px;
  margin-right: 4px;
  text-align: right;
}

img {
  max-height: 250px;
  max-width: min(450px, 100%);
  border-radius: 6px;
}

.info-container {
  border-radius: 8px;
  padding: 14px;
  font-size: 16px;
  max-width: 440px;
  overflow: hidden;
  margin: 14px auto;
  display: flex;
  align-items: center;
  text-align: left;
}
ul {
  display: inline-block;
  padding-left: 1rem;
  text-align: left;
  margin: 0;
}

li {
  position: relative;
}

.hide-bullet-point {
  list-style-type: none;
}

.version {
  text-align: right;
  font-size: 0.6rem;
  opacity: 0.7;
  margin-top: 0.5rem;
}

.banner {
  font-size: 0.6rem;
  letter-spacing: 0.7px;
  opacity: 0.7;
}