<div class="my-card red-theme">
    <div id="error"></div>
    <div class="text-left">
        <span class="banner">From Chinese</span>
    </div>
    <div class="mt-2">
        <span class="font-3xl" style="position:relative;">{{text:汉字}}
            <span id="countwords" class="font-md">({{text:量词}})</span>
        </span>
    </div>
    <div>
        <span id="pinyin" class="font-s">{{text:拼音}}</span>
    </div>
    <div id="translations" class="font-lg mt-3"></div>
    <hr>
    <div class="mt-2 mb-3 font-lg">
        <ul id="examples"></ul>
    </div>
    <div id="info" class="info-container">
        <div class="mr-2">💡</div>
        <div>{{额外消息}}</div>
    </div>
    <div class="image-container">{{图片}}</div>
    <div id="version" class="version"></div>
</div>
