<div class="my-card blue-theme">
    <div id="error"></div>
    <div class="text-left">
        <span class="banner">To Chinese</span>
    </div>
    <div id="translations" class="font-lg mt-3"></div>
    <div id="numCharacters" class="m-3 mt-4 font-s font-italic">{{定义}}</div>
    <div class="mt-2">
        <span id="pinyin" class="button font-s">Pinyin</span>
    </div>
    <hr class="mt-4">
    <div class="mt-2 mb-3 font-lg">
        <ul id="examples"></ul>
    </div>
    <div class="image-container">{{图片}}</div>
    <div id="version" class="version"></div>
</div>
